*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
.hero .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 80px;
    
}
.hero .navbar h1 {
    /* gap: 1000px; */
    margin: 20px;
    color: rgb(222, 147, 17);
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    /* margin-right: 20px; */

}